:root {
  --holo-light-blue: #6093e5;
  --dark-card-background: #060612;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cool-button {
  margin: 20px;
  background-color: rgba(54, 57, 102, 0.534);
  color: white;
  border: none;
  font-size: 20px;
  height: 60px;
  width: 150;
}

.cool-button:hover {
  border: 1px dashed limegreen;
  color: limegreen;
  border-radius: 3px;
}

.verification-button {
  padding: 20px 35px;
  border-radius: 7px;
  border-color: #e1eb81;
  background-color: #e1eb81;
  -webkit-transition: background-color 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: background-color 500ms cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  /* line-height: 1.5; */
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  /* verification-button.secondary */
  border-style: solid;
  border-width: 1px;
  -webkit-transition: color 500ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 500ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 500ms cubic-bezier(0.23, 1, 0.32, 1);
  color: #000;
}

.verification-button:hover {
  cursor: pointer;
  /* verification-button.secondary:hover */
  border-style: solid;
  border-width: 1px;
  border-color: #e1eb81;
  background-color: transparent;
  color: #e1eb81;
}

.x-button-blue {
  padding: 13px 36px;
  border-radius: 7px;
  background-color: var(--holo-light-blue);
  /* background-color: #fdc094; */
  -webkit-transition: background-color 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: background-color 500ms cubic-bezier(0.23, 1, 0.32, 1);
  font-family: "Clover Medium", sans-serif;
  color: #02070c;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.x-button-blue:hover {
  background-color: #fff;
  cursor: pointer;
}

.greyed-out-button {
  opacity: 0.5;
}

.x-button-blue.greyed-out-button:hover {
  background-color: var(--holo-light-blue);
  cursor: not-allowed;
}

.address-truncated {
  margin: 20px;
  background-color: rgba(54, 57, 102, 0.534);
  border: none;
  color: lightgrey;
  border-radius: 30px;
  position: fixed;
  top: 0px;
  right: 0px;
  font-size: 24px;
  height: 42px;
  width: 150px;
}

.connect-wallet {
  margin: 20px;
  /* background-color: rgba(54, 57, 102, 0.534);
  border: 1px dashed magenta;
  color: magenta;
  border-radius: 3px; */
  position: fixed;
  top: 0px;
  right: 0px;
  /* font-size: 20px;
  height:60px;
  width: 150; */
}

.connect-wallet:hover {
  border: 1px dashed yellow;
  color: yellow;
  border-radius: 3px;
}

.message {
  font-size: 13px;
  max-width: 600px;
  max-height: 1000px;
}

.simple-peach-link {
  -webkit-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  font-family: Montserrat, sans-serif;
  color: #fdc094;
  text-decoration: none;
}

.simple-peach-link:hover {
  color: #fff;
  text-decoration: underline;
}

.profile-info-card {
  background-color: var(--dark-card-background);
  border: 2px solid #0a0a16;
  border-radius: 10px;
  /* box-shadow: 0px 0px 3px #fdc094; */
  box-shadow: 0 0px 3px #5e72eb;
  overflow: hidden;
}

.profile-info-card.public-info {
  /* box-shadow: 0 0px 3px #ff9190; */
  /* box-shadow: 0px 0px 3px #fdc094; */
  /* box-shadow: 0 0px 3px #5e72eb; */
}

.card-header {
  padding: 20px 20px 0px 20px;
}

.card-header-title {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.card-content {
  padding: 20px;
}

.private-info-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 30px;
  font-size: 16px;
  color: #fff;
}

.private-info-attribute-name {
  grid-column: 1 / 2;
  margin-top: auto;
  margin-bottom: auto;
}

.private-info-attribute-value {
  grid-column: 2 / 3;
  margin-top: auto;
  margin-bottom: auto;
}

.private-info-attribute-date-issued {
  grid-column: 3 / 4;
  margin-top: auto;
  margin-bottom: auto;
}

.private-info-attribute-issuer {
  grid-column: 4 / 5;
  margin-top: auto;
  margin-bottom: auto;
}

.public-info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 30px;
  font-size: 16px;
  color: #fff;
}

.public-info-proof-name {
  grid-column: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.public-info-sbt-owner {
  grid-column: 2;
  margin-top: auto;
  margin-bottom: auto;
}

.profile-verify-button {
  grid-column: span 3;
  text-align: center;
  padding: 5px;
  background-color: #5e72eb;
  border: 1px solid #5e72eb;
  border-radius: 10px;
  transition-duration: 100ms;
}
.profile-verify-button:hover {
  background-color: #4e62db;
  color: #efefef;
  cursor: pointer;
}

.profile-prove-button {
  text-align: center;
  padding: 5px;
  background-color: #5e72eb;
  border: 1px solid #5e72eb;
  border-radius: 10px;
  transition-duration: 100ms;
}
.profile-prove-button:hover {
  background-color: #4e62db;
  color: #efefef;
  cursor: pointer;
}

.toasty-bug-report-card-container {
  position: fixed;
  bottom: 2%;
  right: 2%;
  display: flex;
  flex-direction: row;
  max-width: 25vw;
}

.toasty-bug-report-card {
  background-color: var(--dark-card-background);
  color: #fff;
  font-family: "Clover Regular";
  padding: 20px;
  border: 2px solid #0a0a16;
  border-radius: 10px;
  box-shadow: 0 0px 3px #fdc094;
}

.toasty-bug-report-card--hide {
  border: 2px solid #0a0a16;
  border-radius: 10px;
  box-shadow: 0 0px 3px #5e72eb;
}

.toasty-bug-report-card-open-button {
  /* x-button - modified */
  padding: 20px 20px;
  border-radius: 7px;
  font-family: 'Clover Medium', sans-serif;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  /* x-button.secondary.outline - modified  */
  margin-top: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: #fff;
  -webkit-transition: color 500ms cubic-bezier(.23, 1, .32, 1), background-color 500ms cubic-bezier(.23, 1, .32, 1);
  transition: color 500ms cubic-bezier(.23, 1, .32, 1), background-color 500ms cubic-bezier(.23, 1, .32, 1);
  color: #01010c;
}

.toasty-bug-report-card-open-button:hover {
  background-color: #aaa;
}

.banner-button {
  /* x-button - modified */
  line-height: 1.1;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  /* x-button.secondary.outline - modified  */
  margin-top: 0px;
  border-style: solid;
  border-width: 1px;
  /* border-color: #fff; */
  background-color: transparent;
  -webkit-transition: color 500ms cubic-bezier(.23, 1, .32, 1), background-color 500ms cubic-bezier(.23, 1, .32, 1);
  transition: color 500ms cubic-bezier(.23, 1, .32, 1), background-color 500ms cubic-bezier(.23, 1, .32, 1);
  color: #01010c;

  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  padding: 10px;
  border: none;
}

.export-private-info-button {
  /* x-button - modified */
  padding: 20px 20px;
  border-radius: 7px;
  font-family: 'Clover Medium', sans-serif;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  /* x-button.secondary.outline - modified  */
  margin-top: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: transparent;
  -webkit-transition: color 500ms cubic-bezier(.23, 1, .32, 1), background-color 500ms cubic-bezier(.23, 1, .32, 1);
  transition: color 500ms cubic-bezier(.23, 1, .32, 1), background-color 500ms cubic-bezier(.23, 1, .32, 1);
  color: #fff;
}
.export-private-info-button:hover {
  color: #01010c;
  background-color: #fff;
}
.export-private-info-button.disabled {
  color: #aaa;
  border-color: #aaa;
  background-color: transparent;
}
.export-private-info-button.disabled:hover {
  cursor: not-allowed;
  /* color: #01010c; */
  /* background-color: #aaa; */
}

.confirmation-modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 230px;
  max-width: 100%;
}

.confirmation-modal-button-confirm {
  margin-left: 10px;
}

.confirmation-modal-button-confirm,
.confirmation-modal-button-cancel {
  /* x-button - modified */
  padding: 10px 30px;
  border-radius: 7px;
  font-family: 'Clover Medium', sans-serif;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  /* x-button.secondary.outline - modified  */
  margin-top: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: transparent;
  -webkit-transition: color 500ms cubic-bezier(.23, 1, .32, 1), background-color 500ms cubic-bezier(.23, 1, .32, 1);
  transition: color 500ms cubic-bezier(.23, 1, .32, 1), background-color 500ms cubic-bezier(.23, 1, .32, 1);
  color: #fff;
}
.confirmation-modal-button-confirm:hover,
.confirmation-modal-button-cancel:hover {
  color: #01010c;
  background-color: #fff;
}

.submit-proof-btn-disabled {
  color: #aaa;
  border-color: #aaa;
  background-color: transparent;
}
.submit-proof-btn-disabled:hover {
  cursor: not-allowed;
  /* color: #01010c; */
  /* background-color: #aaa; */
}

.profile-navigate-to-verification-button {
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Clover Medium', sans-serif;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px;
  background-color: #fff;
  color: #01010c;
  border: 1px solid #01010c;
  transition: color 500ms cubic-bezier(.23, 1, .32, 1), background-color 500ms cubic-bezier(.23, 1, .32, 1);
}

.profile-navigate-to-verification-button:hover:not([disabled]) {
  color: #fff;
  background-color: #01010c;
}

.profile-navigate-to-verification-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
